.register h2{   
    font-size: 4em;
    color: rgb(0, 0, 0);
    margin: 0.67em 0; 
    position: relative;
    left: 37%;
}   
.register input{   
    width: 278px;   
    height: 18px;   
    margin-bottom: 10px;   
    outline: none;   
    padding: 10px;   
    font-size: 13px;   
    color: rgb(0, 0, 0);   
    background-color: rgb(255, 255, 255); 
    position: relative;
    left: 38%;
}   
.register button{
    position: relative;
    left: 46%; 
}