.restaurant_detai_container{
    display: flex;
}

.detailtext{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.restaurant_detai_H1{
  text-align: center;
  font-size: x-large;
}

.restaurant_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 50%;
    height: 300px;
}

.restaurant_image_container{
  width: 50%;
  height: 50%;
}



.restaurant_image:hover{
  position: relative;
  display:block;
  width: 100%;
  height: 550px;

}
.restaurant_detai_container td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
.restaurant_detai_container table {
    background-color:lightgray;
    opacity:0.8;
    border-collapse: collapse;
    width: 100%;
  }
  
  .detailtext th, td {
    padding: 15px;
  }

  .detail_form input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  .detail_form input[type=date] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: large;
  }

  .reservation_selector{
    width: 50%;
    height: 50px;
    margin: 8px 0;
    font-size: 18px;
    background-color: white;
  }

  .reservation_button{
    box-shadow: 0px 10px 14px -7px #9fb4f2;
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color:#7892c2;
    border-radius:16px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:18px;
    font-weight:bold;
    padding:10px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
  }





